<!-- templates/registration/signup.html -->
{% extends "base.html" %}

{% block title %}Sign Up (Cadastro){% endblock %}

{% block content %}
<h2>Sign Up (Cadastro)</h2>
<form method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    
    {{ form.non_field_errors | safe }}
    <input type="hidden" name="remember" value="true" />
    <div>
      <div>
        {{ form.username.errors | safe }}
        <label for="username" class="sr-only">Username</label>
        {{ form.username }}
      </div>
      <div>
        {{ form.email.errors | safe }}
        <label for="email" class="sr-only">Email</label>
        {{ form.email }}
      </div>
      <div>
        {{ form.password1.errors | safe }}
        <label for="id_password1" class="sr-only">Password</label>
        {{ form.password1 }}
      </div>
      <div>
        {{ form.password2.errors | safe }}
        <label for="password2" class="sr-only">Password</label>
        {{ form.password2 }}
      </div>
    </div>    

    <button type="submit">Sign Up</button>
</form>
{% endblock %}